* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('Arts/Ossuary_background.jpg');
}

header {
    height: 15vh;
    width: 100%;
    background-color: #07042b;
    color: rgb(233, 12, 12);
    font-size: 30px;
    font-family: "Metal Mania", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 125px;
    width: 125px;
}

main {
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#personalization-area {
    border: solid black 2px;
    border-radius: 15px;
    height: 500px;
    width: 325px;
    background-color: #441c28;
    color: #e60f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 30px;
    color: #e60f0f;
    text-decoration: underline;
}

#character-options {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}

button {
    cursor: pointer;
}

#createBtn {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    color: rgb(209, 19, 19);
    background-color: black;
    font-size: 20px;
    cursor: pointer;
}

#character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 400px;
    background-color: #211c44;
    border-radius: 15px;
}

#character img {
    height: 400px;
    width: 400px;
}

footer {
    background-color: #2e0a1e;
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
